---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HeroSection from "../components/HeroSection.astro";
import ModelY from "../components/ModelY.astro";
import Model3 from "../components/Model3.astro";
import ModelS from "../components/ModelS.astro";
import ModelX from "../components/ModelX.astro";
import Powerwall from "../components/Powerwall.astro";
import Accesorios from "../components/Accesorios.astro";
---

<Layout title="Welcome to Astro.">
	<LandingHeader />
	<main
		class="snap-y snap-mandatory relative w-full h-screen overflow-x-hidden scroll-smooth"
	>
		<div class="snap-center">
			<HeroSection />
		</div>
		<div class="snap-center" id="model-y">
			<ModelY />
		</div>
		<div class="snap-center" id="model-3">
			<Model3 />
		</div>
		<div class="snap-center" id="model-s">
			<ModelS />
		</div>
		<div class="snap-center" id="model-x">
			<ModelX />
		</div>
		<div class="snap-center" id="powerwall">
			<Powerwall />
		</div>
		<div class="snap-center" id="carga">
			<Accesorios />
		</div>
	</main>
</Layout>
