<section
  class="landing-section flex justify-center h-screen w-screen text-center relative overflow-hidden bg-black"
  data-header-color="black"
>
  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model Y</h2>
      <p class="text-black text-sm underline">
        Concertar una prueba de conducción
      </p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-x-6">
        <a
          href="#"
          class="rounded border-[3px] border-gray-700 bg-gray-700 text-sm text-white px-12 py-2 font-medium"
          >Explorar inventario</a
        >
        <a
          href="#"
          class="rounded border-[3px] border-gray-100 bg-white text-black text-sm px-12 py-2 font-medium flex justify-center items-center"
          >Pedido personalizado</a
        >
      </div>
    </footer>
  </div>
  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img
      src="/model-y.webp"
      alt="Model Y"
      class="h-full w-full object-cover object-center"
    />
  </div>
</section>
