---
import Section from "./Section.astro";
---

<Section title="Solar y Powerwall" subtitle="Energia para todos" color="black">
  <div slot="footer" class="flex gap-x-6 justify-center">
    <a
      href="#"
      class="rounded border-[3px] border-black bg-black text-sm text-white px-12 py-2 font-medium"
      >Saber más</a
    >
  </div>
  <img
    slot="background"
    alt="Accesorios"
    class="h-full w-full object-cover object-center"
    src="powerwall.webp"
  />
</Section>
